@import url('../.././Master/Font/font.css');
* {
    background-color: #400698;
}
.container-fluid {
    padding: 0px;
}

header {
    overflow-x: hidden;
    .filet-droit{
        margin-top: -12px;
        margin-right: -100px;
        margin-left: 20px;
        height: 9px;
        width: 96px;
        background-image: url("../Ressources/Filet_cible_horizontal.svg");
    }
    li {
        margin-left: 30px;
        text-transform: uppercase;
    }
    #logo-menu {
        background-color: white;
        height: 92.5px;
        width: 263.75px;
        margin-top: 37.5px;
        margin-left: -30px;
        img {
            width: 207.5px;
            height: 60px;
            margin-left: 37.5px;
            margin-top: 16.25px;
            background-color: white;
        }
    }
}
