@font-face {
    font-family: "Raleway";
    src: url("../Ressources/fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway";
    src: url("../Ressources/fonts/Raleway/Raleway-Bold.ttf");
    font-weight: bold;
}

// WARNING: ANIMATION

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container-fluid {
    padding: 0px;
}
header {
    background-image: url(../Ressources/Top-Background.png);
    height: 757px;
    overflow-x: hidden;
    #Title {
        font-size: 51px;
        color: #ffffff;
        font-weight: 700;
        margin-left: 230px;
        margin-top: 200px;
        font-family: "Raleway";
        font-weight: bold;
    }
    #sub-title {
        font-size: 28px;
        color: #ffffff;
        margin-left: 230px;
        font-family: "Raleway";
        font-weight: bold;
    }
    .filet-droit{
        margin-top: -43px;
        margin-right: -100px;
        margin-left: 20px;
        height: 9px;
        width: 96px;
        background-image: url("../Ressources/Filet_cible_horizontal.svg");
    }
    li {
        margin-left: 30px;
        text-transform: uppercase;
    }
    #logo-menu {
        background-color: white;
        height: 92.5px;
        width: 263.75px;
        margin-top: 37.5px;
        margin-left: -30px;
        img {
            width: 207.5px;
            height: 60px;
            margin-left: 37.5px;
            margin-top: 16.25px;
            background-color: white;
        }
    }
}
@media screen and (min-width: 992px) {
    #navbarSupportedContent{
        margin-top: -45px;
    }
}
@media screen and (min-width:0px) and (max-width: 992px) {
    #menu {
        width: 400px;
    }
    #menu2 {
        width: 400px;
    }
}
