$colorPrimary: #400698;
$breadcrumb-divider: quote(">");

body{
    margin: 0;
}

#section1 {
    background-color: $colorPrimary;
}
#titreSection1 {
    margin-top: 168px;
    background-color: $colorPrimary;
    padding: 8px 20px 8px 20px;
    width: 495px;
    margin-left: 185px;
}
#imageSection1 {
    margin-bottom: -46px;
}
#filArianne {
    text-align: center;
}
#pFilArianne {
    margin-top: 50px;
    color: #8c8596;
    font-family: "Josephin-Light";
    font-size: 16px;
    font-weight: 300;
    span {
        color: #302d33;
    }
    span span:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
@media (max-width: 785px) {
  #titreSection1{
      margin: 0 auto 0 auto;
      font-size: 50px;
      background-color: transparent;
  }
}
@media (max-width: 515px) {
  #titreSection1{
      margin: 0 auto 0 auto;
      font-size: 40px;
      background-color: transparent;
      width: auto;
  }
}
.index1{
    z-index: 2;
}

#pSection2{
        text-align: center;
}
