@import url(c:\Users\flofl\Desktop\Eudonia2\Eudonia\Master\Font\font.css);
h1 {
  font-size: 51px;
  line-height: 57px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Raleway-Regular";
}

h2 {
  font-size: 38px;
  line-height: 47px;
  font-weight: 700;
  color: #302d33;
  font-family: "Raleway-Regular";
  margin: 0 0 27px 0;
}

h3 {
  font-size: 21px;
  line-height: 28px;
  font-weight: 400;
  color: #302d33;
  font-family: "Raleway-Regular";
  margin: 0 0 28px 0;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: #8c8596;
  font-family: "Josephin-Light";
}

.button-type-1 {
  border-radius: 14px;
  padding: 6px 12px 6px 12px;
  font-size: 14px;
  background-color: #8c8596;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid #8c8596;
  font-family: "Raleway-Regular";
  cursor: pointer;
  display: inline-block;
}

.button-type-1:hover {
  background-color: #ffffff;
  color: #8c8596;
}

#footer {
  padding: 29px 37px 29px 37px;
}

#footer p {
  font-size: 12px;
  color: #8c8596;
  line-height: 11.95px;
}

span::before {
  content: "";
  display: block;
}

#footer .row .row {
  margin-left: 56px;
}

#footer img {
  width: 118px;
  height: 51px;
}

#footer .offset-5 {
  text-align: right;
}

@font-face {
  font-family: Josephin-Light;
  src: url("../../Font/Josephin-Sans/JosefinSans-Light.ttf");
}

@font-face {
  font-family: Josephin-SemiBold;
  src: url("../../Font/Josephin-Sans/JosefinSans-SemiBold.ttf");
}

@font-face {
  font-family: Josephin-Regular;
  src: url("../../Font/Josephin-Sans/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: Raleway-Regular;
  src: url("../../Font/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: Raleway-Bold;
  src: url("../../Font/Raleway/Raleway-Bold.ttf");
}

.banner {
  background-color: #400698;
}

.main {
  color: white;
  font-family: Raleway;
  font-size: 51px;
  font-weight: 700;
  line-height: 57px;
  background-color: #3f0697;
}

#main {
  color: white;
  font-family: Raleway;
  font-size: 51px;
  font-weight: 700;
  line-height: 57px;
  background-color: #3f0697;
}

.titre-banner {
  height: 120px;
  margin-top: 120px;
  z-index: 5;
}

.image-banner img {
  z-index: 6;
}

#titreSurImage {
  background-color: #3f0697;
  width: 170%;
}

#section1 {
  background-color: #3f0697;
}

#imageSection1 {
  margin-top: 48px;
  margin-bottom: -46px;
}

#navbar {
  padding: 10px 0 10px 0;
  position: fixed;
  width: 100%;
  z-index: 6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar a.nav-link {
  color: white;
}

#logo {
  width: 166px;
}

#barre {
  margin-bottom: -12px;
}

.lien:hover {
  text-decoration: none;
  color: black;
}

.logo-container {
  background-color: white;
  padding: 15px 25px 15px 10px;
}

.dropdownT {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-hover:hover .dropdownT {
  display: block;
}

.dropdownT a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: white;
}

#contact {
  background-color: #400698;
  padding: 110px 0 110px 0;
  text-align: center;
}

#contact h2 {
  color: white;
  width: 100%;
  margin-bottom: 38px;
}

#contact p {
  width: 80%;
  color: white;
  margin: auto;
  margin-bottom: 25px;
  line-height: 18px;
}

#contact #contactButton {
  border-radius: 14px;
  border: 1px solid #f7f7f7;
  background-color: transparent;
  color: white;
  font-size: 14px;
  line-height: 25.92px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#contact #contactButton:hover {
  border: 1px solid #400698;
  background-color: white;
  color: #400698;
  font-size: 14px;
  line-height: 25.92px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-track:active {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:active {
  background: grey;
}
/*# sourceMappingURL=commun.css.map */