#footer{
    padding: 29px 37px 29px 37px;
}

#footer p{
    font-size: 12px;
    color: #8c8596;
    line-height: 11.95px;
}

span::before {
    content:"";
    display: block;
}

#footer .row .row{
    margin-left: 56px;
}

#footer img{
    width: 118px;
    height: 51px;
}

#footer .offset-5{
    text-align: right;

}
