@import url('../.././Master/Font/font.css');


body{
  margin: 0;
}

.container-fluid {
    padding: 0px;
}

header {
  background-color:#400698;
    overflow-x: hidden;
    .filet-droit{
        margin-top: -12px;
        margin-right: -100px;
        margin-left: 20px;
        height: 9px;
        width: 96px;
        background-image: url("../Ressources/Filet_cible_horizontal.svg");
    }
    li {
        margin-left: 30px;
        text-transform: uppercase;
    }
    #logo-menu {
        background-color: white;
        height: 92.5px;
        width: 263.75px;
        margin-top: 37.5px;
        margin-left: -30px;
        img {
            width: 207.5px;
            height: 60px;
            margin-left: 37.5px;
            margin-top: 16.25px;
            background-color: white;
        }
    }
}


//style section 2
#section2{
  margin-top: 75px;
}

//style fils d'ariane
#filArianne {
    text-align: center;
}

//style text du fils d'ariene
#filArianne p{
    color: #8c8596;
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 300;
    a {
        color: #302d33;
    }
    a a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    a a:visited {
        color: #302d33
    }
}

//style de la liste pour trier
.list-tri-actu{
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 50px;
}

//style des elements de la liste pour trier
.list-tri-actu li{
  text-align: center;
  margin: 0px 13px 0px 13px;
  color: #8c8596;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

//style des elements de la liste pour trier hover
.list-tri-actu li:hover{
  font-family: Raleway;
  font-weight: 700;
}

//style pour la listes des cartes
.liste-cartes{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #fafdfd;
  flex-wrap: wrap;
}

//style du container
#cartesListes{
  padding-top: 40px;
}

//style du type de carte 1
.cartes-actu-type-1{
  margin: 20px 30px 0px 30px;
  width: 313px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  transition: 1s;
  cursor: pointer;
}

.cartes-actu-type-1:hover{
  width: 343px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

//style du type de carte 2
.cartes-actu-type-2{
  margin: 20px 30px 0px 30px;
  width: 313px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  transition: 1s;
  cursor: pointer;
}

.cartes-actu-type-2:hover{
  width: 343px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

//style h3 cartes actu2
.liste-cartes h3{
  padding: 30px;
  color: #161919;
  font-family: Raleway;
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
}

.liste-cartes img{
  width: 100%
}


//style pour la date de l'actu
.liste-cartes h7{
  padding: 30px;
  color: #302d33;
  font-family: Josefin-Sans;
  font-size: 14px;
  font-weight: 300;
}

//style pour le resumé de l'actu
.liste-cartes p{
  padding: 30px;
  color: #8c8596;
  font-family: Josefin-Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

//contenaire du bouton "plus d'actualité"
.btn-more-actu{
  text-align: center;
}

//style du bouton "plus d'actualité"
#bouttonFormulaire {
    border-radius: 14px;
    background-color: #8c8596;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 13px 6px 12px;
    border: none;
    margin-top: 38px;
    margin-bottom: 82px;
}

#bouttonFormulaire:focus{
  outline: none;
}

//style des resaux sociaux
.social-network-attached{
  width: 60px;
  position: fixed;
  right: 20px;
  bottom: 0;
  text-align: center;
}

//style du container des icons
.icon-social-network-attached{
  display: flex;
  flex-direction: column;
}

//style des icons
.icon-social-network-attached > .fab{
  color: #302d33;
  padding: 8px 0px 8px 0px;
  cursor: pointer;
  font-size: 20px;
}

//text des links
.social-dropdown-item{
  color: darkgrey;
  padding: 10px 0px 0px 0px;
  font-family: Josefin-Sans;
}

//text des links hover
.social-dropdown-item:hover{
  color: grey;
  text-decoration: none;
}

//style de la petite bar
.img-social-network-attached > svg{
  height: 10em;
  width: auto;
}
















@media (max-width: 640px) {
  .container-banner-immage{
    width: 3000px;
  }

  .social-network-attached{
    display: none;
  }

  .list-tri-actu{
    flex-direction: column;
  }

  .list-tri-actu li{
    margin-top: 7px;
  }
}
